#about {
  .aboutwrapper__section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    font-size: 18px;
    p {
      
    }
    a {
      font-weight: 800;
      text-decoration: underline;
    }
  }
}
