#postwrapper {
  .postwrapper__section {
    // gap: 1rem;
    .top {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
    &-header {
      display: flex;
      align-items: center;
      gap: 1rem;
      // padding: 1rem;

      .header__picture {
        .picture__content {
          width: 45px;
          height: 45px;
          border-radius: 10rem;
          overflow: hidden;
        }
      }

      .header__title {
        display: flex;
        flex-direction: column;
        gap: 4px;
        .name {
          font-family: "Adam";
          font-size: 18px;
          line-height: 1;
          font-weight: 600;
        }
        .date {
          font-family: "Adam";
          font-size: 16px;
          line-height: 1;
        }
      }
    }
    &-title {
      // padding: 0rem 1rem;
      h4 {
        font-family: "Adam";
        line-height: 1;
        font-size: clamp(16px, 2vw, 20px);
        margin-bottom: 0.5rem;
      }
    }

    &-options {
      padding: 2rem;
      svg {
        width: 30px;
        height: 30px;
      }
      .options__content {
        display: flex;
        justify-content: space-between;

        .feedback {
          // width: 100%;
          display: flex;
          align-items: center;
          gap: 1rem;
          input {
            // width: 100%;
            padding: 0 1rem;
            min-width: 300px;
            height: 35px;
            background-color: transparent;
            border: 1px solid var(--c-border);
            border-radius: 4px;
            color: white;
            transition: 0.2s ease;

            &::placeholder {
              // color: white;
            }

            &:focus {
              outline: none;
              border: 1px solid white;
              // outline-color: white;
            }
          }
        }
      }
    }
  }
}
