#projects-nav {
  .nav {
    display: grid;
    grid-template-columns: 1fr 1px max-content;
    width: 100%;

    .nav-link {
      display: flex;
      align-items: center;
      padding: 1rem 2rem;
      font-size: 18px;
    }

    .options {
      display: grid;
      grid-template-columns: 1fr 1px 1fr;
      .option__gallery {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0rem 1rem;
        transition: 0.2s ease;
        svg {
          width: 30px;
          height: 30px;
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}

.projectswrapper {
  .projectswrapper__section {
    // transition: 0.2s ease;
    // outline: 1px solid transparent;
    &:hover {
      // background-color: rgba(0, 0, 0, 0.4);
      // outline: 1px solid rgba(255, 255, 255, 0.3);
    }
    &-top {
      .top__title {
        padding: 2rem;
        h4 {
          line-height: 1;
          font-size: clamp(1.2rem, 2vw, 1.5rem);
          font-family: "Adam";
          margin-bottom: -4px;
        }
        p {
          font-size: 18px;
        }
      }
    }

    &-picture {
      overflow: hidden;
      .picture__content {
        aspect-ratio: 10 / 6;
        display: block;
        // align-items: flex-start;
        // justify-content: flex-start;
        width: 100%;
        height: auto;
        overflow: hidden;
        img {
          transition: 0.3s ease;
        }
        &:hover {
          img {
            transform: scale(1.05);
          }
        }
      }
    }

    &-details {
      display: grid;
      grid-template-columns: 1fr 1px max-content;
      .more {
        a {
          display: flex;
          padding: 2rem;
          h4 {
            line-height: 1;
            font-size: clamp(1.2rem, 2vw, 1.5rem);
            margin-bottom: -4px;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0%;
              height: 1px;
              background-color: white;
              transition: 0.2s ease;
            }
          }

          &:hover {
            h4 {
              &::after {
                width: 100%;
              }
            }
          }
        }
      }

      .link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 2rem;
        position: relative;
        .circle {
          position: absolute;
          top: 15%;
          right: 15%;
          width: 10px;
          height: 10px;
        }
        svg {
          width: 30px;
          height: 30px;
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}
