#projectwrapper {
  .projectwrapper__section {
    &-title {
      display: grid;
      grid-template-columns: max-content 1px 1fr 1px max-content;

      .link-back {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 2rem;
        svg {
          width: 30px;
          height: 30px;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.4);
        }
      }

      h3 {
        line-height: 1;
        padding: 2rem 2rem;
        font-size: clamp(16px, 3vw, 24px);
        margin-bottom: -4px;
      }

      .link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 2rem;
        position: relative;
        transition: 0.2s ease;
        .circle {
          position: absolute;
          top: 20%;
          right: 20%;
          width: 10px;
          height: 10px;
        }
        svg {
          width: 30px;
          height: 30px;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.4);
        }
      }
    }
    &-details {
      .details__title {
        padding: 8px 2rem;
        background-color: var(--c-dark-variant);
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4 {
          margin-bottom: -3px;
        }
      }
      .details__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 2rem;
        gap: 2rem;

        .desc {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          justify-content: flex-end;
          .service {
            &:last-of-type {
              span {
                display: none;
              }
            }
          }
        }
      }
    }
    &-desc {
      .row__sticky {
        padding: 8px 2rem;
        background-color: var(--c-dark-variant);
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5 {
          margin-bottom: -3px;
        }
      }
      .desc__row {
        p {
          padding: 2rem;
        }
      }
    }
    &-gallery {
      display: grid;
      grid-template-columns: 1fr 1px 1fr;
      grid-template-rows: 1fr;
      height: 400px;
      overflow: hidden;

      .one {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        overflow: hidden;
        .picture__contents {
          width: 100%;
          height: 100%;
          overflow: hidden;

          &:first-of-type {
            border-bottom: 1px solid var(--c-border);
          }
        }
      }

      .two {
        .picture__contents {
          height: 100%;
          width: 100%;
          overflow: hidden;
        }
      }
    }
  }
}
