#projectwrapper {
  .projectwrapper__section {
    &-title {
      display: grid;
      grid-template-columns: max-content 1px 1fr 1px max-content;

      .link-back {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 2rem;
        svg {
          width: 30px;
          height: 30px;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.4);
        }
      }

      h3 {
        line-height: 1;
        padding: 2rem 2rem;
        font-size: 24px;
        margin-bottom: -4px; /*  */
      }

      .link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 2rem;
        position: relative;
        transition: 0.2s ease;
        .circle {
          position: absolute;
          top: 20%;
          right: 20%;
          width: 10px;
          height: 10px;
        }
        svg {
          width: 30px;
          height: 30px;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.4);
        }
      }
    }
    &-details {
      .details__title {
        padding: 8px 2rem;
        background-color: var(--c-dark-variant);
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4 {
          margin-bottom: -3px;
        }
      }
      .details__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 2rem;
      }
    }
    &-desc {
      .row__sticky {
        padding: 8px 2rem;
        background-color: var(--c-dark-variant);
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5 {
          margin-bottom: -3px;
        }
      }
      .desc__row {
        p {
          padding: 2rem;
        }
      }
    }
    &-gallery {
      .gallery__content {
        display: grid;
        grid-template-columns: 1fr 1px 1fr;

        .one {
          .picture__content {
            aspect-ratio: 7 / 4;
            width: 100%;
            height: auto;
          }
        }

        .two {
          .picture__content {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
