#projectwrapper {
  .projectwrapper__section {
    &-title {
      padding: 2rem 2rem;
      h3 {
        font-size: 24px;
        margin-bottom: -4px;
      }
    }
    &-details {
      .details__title {
        padding: 8px 2rem;
        background-color: var(--c-dark-variant);
        // background-color: rgba(255, 255, 255, 0.6);
        // color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4 {
          margin-bottom: -3px;
        }
      }
      .details__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 2rem;
      }
    }
    &-desc {
      .row__sticky {
        padding: 8px 2rem;
        background-color: var(--c-dark-variant);
        // background-color: rgba(255, 255, 255, 0.6);
        // color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5 {
          margin-bottom: -3px;
        }
      }
      .desc__row {
        p {
          padding: 2rem;
        }
      }
    }
    &-gallery {
      .gallery__content {
        display: grid;
        grid-template-columns: 1fr 1px 1fr;

        .one {
          .picture__content {
            aspect-ratio: 7 / 4;
            width: 100%;
            height: auto;
          }
        }

        .two {
          .picture__content {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
