#wrapperview {
  min-height: 100vh;
  // background-color: lightblue;
  max-width: 1200px;
  margin-inline: auto;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-left: 1px solid rgba(200, 200, 200, 0.2);
  border-right: 1px solid rgba(200, 200, 200, 0.2);
  background-color: rgba(0, 0, 0, 0.2);

  // display: flex;
  // flex-direction: column;
  .wrapperview__picture {
    .picture__content {
      aspect-ratio: 5 / 1;
      width: 100%;
      height: auto;
      background-color: lightblue;
    }
  }

  .wrapperview__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &-aside {
      .aside__content {
        position: sticky;
        top: calc(4rem + 3rem);
        left: 0;
        background-color: lightcoral;

        &-picture {
          position: relative;

          .picture__content {
            position: absolute;
            top: 0;
            left: 3rem;
            width: 8rem;
            height: 8rem;
            border-radius: 10rem;
            background-color: red;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(-50%);
          }
        }
        &-header {
          padding: 5rem 3rem 3rem;
          display: flex;
          flex-direction: column;
          gap: 12rem;
          
          .socials {
            display: flex;
            gap: 1rem;
          }
        }
      }
    }

    &-main {
      min-height: 2000px;
    }
  }
}
