@import "./components/styles";
// @import "./fonts.scss";

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // outline: none;
  // vertical-align: baseline;
  text-decoration: none;
}

// article,
// aside,
// details,
// figcaption,
// figure,
// footer,
// header,
// hgroup,
// menu,
// nav,
// section {
//   display: block;
// }

ol,
ul {
  list-style: none;
}

body {
  color: white;
  font-size: 100%;
  line-height: 1.5;
  font-family: "Manrope";
}

a {
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1rem;
}
