@import "./components/styles";
@import "./variables.scss";
// @import "./fonts.scss";

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // outline: none;
  // vertical-align: baseline;
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

body {
  color: white;
  font-size: 100%;
  line-height: 1.5;
  font-family: "Adam";
  font-weight: 400;
  padding: 2rem 0;
}

a {
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.line-y {
  background-color: var(--c-border);
  height: 100%;
  width: 1px;
}

.line-x {
  background-color: var(--c-border);
  width: 100%;
  height: 1px;
}

button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}
